@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Medium.ttf") format("woff2");
       /*url("/fonts/OpenSans-Regular-webfont.woff") format("woff");*/
  /* filter: contrast(1); */
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}
img {
	display: block;
	margin: 0;
	padding: 0;
	object-fit: cover;
}
a {
	display: flex;
	width: 100%;
	text-decoration: none;
}

/* Typesetting */
h1, h2, h3, p, .label{
	color: white;
	font-family: Montserrat;
}

/* Header */
header {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 500px;
	/* Center and scale the image nicely */
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
#logo {
	position: absolute;
	width: 150px;
	height: 150px;
	border-width: 3px;
	border-style: solid;
	border-radius: 100%;
	border-color: white;
	-ms-interpolation-mode: nearest-neighbor; /* ie */
	image-rendering: crisp-edges; /* ff */
	image-rendering: pixelated; /* chrome */
}
#logo-background {
	position: absolute;
	width: 100%;
	height: 500px;
	background: url("images/floating_iceberg.png") fixed;

	/* Add the blur effect */
	filter: blur(3px);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	transition: all 0.35s ease-in-out;
}
#logo-background:active {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	transition: all 0.35s ease-in-out;
	-webkit-transition: 0.5s -webkit-filter linear;
	-o-transition: 0.5s -o-filter linear;
}

@media (max-width: 1058px) {
	#logo-background {
		background: none;
	}
	header {
		background: url("images/floating_iceberg.png");
	}
}
/* Header Closed */

/* Main */
main {
	display: block;
	padding-top: 200px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 200px;
	background: #e4c3f2;
}

.info {
	display: flex; 
	margin: auto;
	margin-bottom: 1em auto;
	max-width: 1200px;
	justify-content: space-between; 
	flex-direction: column;
}
.info-card {
	display: block;
	max-width: 400px;
	padding: 0px;
	margin: 0px;
}
.info-card h1 {
	font-size: 27px;
	font-weight: bold;
	color: #55399c;
}
.info-card p {
	font-size: 17px;
	font-weight: lighter;
	color: #55399c;
}

.showcase {
	display: flex;
	flex-direction: column;
}
.showcase > a {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
}
.showcase-img {
	display: inline-block;
	position: relative;
	max-width: 30em;
	margin-bottom: 1em;
	border-radius: 5%;
}

.sm-img {
	display: inline-block;
	position: relative;
	max-width: 3em;
	margin-top: 1em;
	padding: 0.5em;
	border: 1px solid #a028e0;
	border-radius: 5em;
	background-color: #a028e0;
}
.label {
	font-weight: bolder;
	width: 5em;
	color: #55399c;
}

@media (min-width: 1058px) {
	.showcase {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.showcase-img {
		width: 15em;
		margin-left: 1em;
	}
	.info {
		flex-direction: row;
		flex-wrap: wrap;
	}
	img + span {
		display: none;
	}
	.showcase > a {
		width: 50%;
	}
}
/* Main closed */

/* Footer */
footer {
	display: flex;
	padding: 50px;
	justify-content: center;
	background-color: #714a99;
}
.categories-parent {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
	max-width: 50em;
}
.categories {
	display: inline-flex;
	box-sizing: border-box;
	border-right: 3px solid #e4c3f2;
	margin: 5px;
	height: 4em;
	width: 100%;
	max-width: 390px;
}
.categories:hover, .categories:focus {
	background: linear-gradient(to right, #e4c3f200, #e4c3f2);
}

.categories img {
	height: 100%;
	margin-right: 10px;
	border-radius: 5%;
}

@media (min-width: 800px) {
	.categories {
		width: 50%;
	}
}
/* Footer closed */