@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Medium.ttf") format("woff2");
       /*url("/fonts/OpenSans-Regular-webfont.woff") format("woff");*/
  /* filter: contrast(1); */
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1, p{
	color: white;
	font-family: Montserrat;
}

#logo {
	position: absolute;
	width: 150px;
	height: 150px;
	border-width: 3px;
	border-style: solid;
	border-radius: 100%;
	border-color: white;
	-ms-interpolation-mode: nearest-neighbor; /* ie */
	image-rendering: crisp-edges; /* ff */
	image-rendering: pixelated; /* chrome */
}
#logo-background {
	position: absolute;
	width: 100%;
	height: 500px;
	background: url("floating_iceberg.png");

	/* Add the blur effect */
	/*filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(4px);
	transition: all 0.35s ease-in-out;*/
}
#logo-background:hover {
	/*filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);*/
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 500px;
	/* Center and scale the image nicely */
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
img.blur {
	-webkit-filter: blur(3px); -moz-filter: blur(3px);
	-o-filter: blur(3px); -ms-filter: blur(3px); 
	filter: url(#blur); filter: blur(3px);  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
	-webkit-transition: 0.5s -webkit-filter linear;
	-o-transition: 0.5s -o-filter linear;

}
img.blur:hover {
	-webkit-filter: blur(0px); -moz-filter: blur(0px); -o-filter: blur(0px); -ms-filter: blur(0px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0'); filter: blur(0px); 
} 

main {
	display: block;
	padding-top: 200px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 200px;
}	background: #e4c3f2;


.info-card {
	width: 400px;
	padding: 0px;
	margin: 0px;
}
.info-card h1 {
	font-size: 27px;
	font-weight: bold;
	color: #55399c;
}
.info-card p {
	font-size: 17px;
	font-weight: lighter;
	color: #55399c;
}

footer {
	display: flex;
	padding: 50px;
	justify-content: center;
	background-color: #714a99;
}
.categories {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	width: 450px;
}
.categories-child {
	display: inline-flex;
	margin: 10px;
	height: 50px;
	width: 200px;
}
.categories-child img {
	height: 100%;
}